@import "custom-variables.less";
@import "navbar.less";
@import "dashboard.less";
@import "menu.less";

@import "event-list.less";

body{
    font-family: 'Bree Serif', serif;
    background-color: @ultra-light-primary;
}

.header-text{
    border-bottom: 3px solid @accent;
    color: @brand-primary;
}

